<!DOCTYPE html>
<html lang="es">
    
<head>
    <meta charset="UTF-8">
    <title>Hola Mundo</title>
    <style>
        body {
            margin: 0;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: Arial, Helvetica, sans-serif;
            background: #f3f4f6;
        }

        h1 {
            font-size: 48px;
            color: #0f172a;
        }
    </style>
</head>

<main>
    <div class="page-container">
            <nav class="breadcrumbs">
                <a href="{% url 'home' %}">Home</a>
                <span>›</span>
                <span>hola</span>
            </nav>
        </div>
        <section>
<body>

    <h1>Hola Mundo </h1>

</body>
</section>
</html>
